:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  margin-bottom: 20px;
}

#stringArtCanvas {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

#downloadStrinArt {
  margin-bottom: 20px;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: var(--button-active-bg-color);
}

input,
button {
  outline: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

#helpSection {
  display: none;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: var(--help-section-bg-color);
  color: var(--text-color);
}

/* Flexbox for horizontal layout */
#image-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

#image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imageCanvas {
  margin-top: 20px;
}

/* Container for sliders and input fields */
#controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

#controls label,
#controls input,
#controls button {
  margin: 0 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2f2f2f;
    --text-color: #f6f6f6;
    --button-bg-color: #3a3a3a;
    --button-text-color: #f6f6f6;
    --button-active-bg-color: #575757;
    --help-section-bg-color: #3a3a3a;
  }

  a:hover {
    color: #24c8db;
  }

  #helpSection {
    border-color: #555;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f6f6f6;
    --text-color: #0f0f0f;
    --button-bg-color: #ffffff;
    --button-text-color: #0f0f0f;
    --button-active-bg-color: #e8e8e8;
    --help-section-bg-color: #f9f9f9;
  }
}